.submit-btn{
    border: none;
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    text-align: center;
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
    border-radius: calc(var(--border-radius) * 0.8);
    width: 100%;
    cursor: pointer;
    font-size: var(--fs-regular);
}

.submit-btn:hover{
    background-color: var(--primary-clr);
    color: var(--accent-clr);
}