.Panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Titlebar {
    background-color: var(--white-clr);
    padding-inline: var(--padding-inline);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: var(--fw-bold);

}

.Name {
    display: flex;
    align-items: center;
    gap: calc(var(--gap) * 0.5);
}

.NameText {
    font-size: var(--fs-regular-x);
    text-align: end;
}

.Status {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    align-self: center;
}

.Status___online {
    background-color: var(--primary-clr);
}

.Status___offline {
    background-color: gray;
}

.OfflineText {
    color: var(--black-clr);
    font-size: var(--fs-sm);
}

.OfflineText>span:first-child {
    color: var(--secondary-clr-2);
}

.Messages {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 0.5);
    padding-block: var(--gap);
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.Messagebar {
    display: flex;
    gap: calc(var(--gap) * 0.5);
}

.Messagebar__TextField {
    width: 100%;
    border-radius: var(--border-radius);
    padding-inline: calc(var(--padding-inline) * 0.5);
    padding-block: calc(var(--padding-block) * 0.5);
    font-size: var(--fs-regular);
}

.Messagebar__TextField:focus {
    outline: 3px solid var(--secondary-clr);
}


.Messagebar__Send {
    font-size: var(--fs-regular);
    padding-inline: var(--padding-inline);
    padding-block: calc(var(--padding-block) * 0.5);
    border-radius: var(--border-radius);
    background-color: var(--secondary-clr);
}

.Messagebar__Send:hover {
    background-color: var(--secondary-clr-50);
}

.Messagebar__Send:hover * {
    color: var(--white-clr);
}


.SendIcon {
    margin-inline: calc(var(--padding-inline) * 0.5);
    color: var(--primary-clr);
}