.navbar {
    height: 100%;
    background-color: var(--primary-clr);
    border-radius: 0 var(--border-radius-lg) var(--border-radius-lg) 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: calc(var(--padding-block) * 1);
    align-items: center;
}

.navbar-list {
    overflow-y: auto;
    display: flex;
    gap: var(--gap);
    flex-direction: column;
    padding-inline: calc(var(--padding-inline) * 0.6);
    align-items: center;
    height: 100%;
}

.navbar-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}


.nav-link{
    border-radius: 50%;
    padding: 0 !important;
    display: flex;
}

.nav-link--highlight{
    outline: 4px solid var(--secondary-clr-2);
}

/* testing stuff out */
/* .nav-list__item--highlight{
    outline: 4px solid var(--secondary-clr-light);
} */

.navbar-list__item.dm-btn {
    border-radius: 50%;
    margin-top: calc(var(--padding-block) * 0.8);
}


.navbar-list__item.dm-btn:hover {
    outline: 4px solid var(--secondary-clr-light);
}


.navbar__settings {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
    padding-top: calc(var(--padding-block) * 0.5);
}

button.dm-link__image{
    display: flex;
    justify-content: center;
    align-items: center;
}

button.dm-link__image:hover {
    outline: 4px solid var(--secondary-clr-light);

}

.house-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding-inline: calc(var(--padding-inline) * 0.3);
    padding-block: calc(var(--padding-block) * 0.3);
}

.house-list img:hover {
    outline: 4px solid var(--secondary-clr-light);
} 