.nav {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: var(--gap);
    padding-inline: calc(var(--padding-inline) * 0.5);
    padding-top: calc(var(--padding-block) * 2.5);
    min-height: 100%;
}

.nav__nav-list {
    list-style-type: none;
}

.nav__nav-item {
    width: calc(var(--gap) * 3.5);
    height: calc(var(--gap) * 3.5);
    padding: calc(var(--padding-inline) * 0.5);
    border-radius: 50%;
}

.nav__nav-item--bg-accent {
    background-color: var(--accent-clr);
}