.text-input {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 0.1);
}

.text-input__input-field-wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 0.1);
}

.input-field-wrapper__input-label {
    font-weight: var(--fw-bold);
    font-size: var(--fs-regular);
}

.input-field-wrapper__input-field {
    font-size: var(--fs-md);
    padding-inline: calc(var(--padding-inline) * 0.5);
    padding-block: calc(var(--padding-block) * 0.6);
    background-color: var(--accent-clr);
    border: none;
    outline: 1px solid var(--secondary-clr);
    border-radius: calc(var(--border-radius) * 0.5);
    transition: all 0.3s ease-in;
}

.input-field-wrapper__input-field:focus {
    outline-width: 0.2rem;
}

.text-input__error-msg-wrapper {
    font-weight: var(--fw-bold);
    font-size: var(--fs-regular);
    color: var(--secondary-clr);
}