:root {

  /* color */
  --primary-clr: #592AFF;
  --primary-clr-50: #592aff80;
  --secondary-clr: #F0A7FF;
  --secondary-clr-50: #f0a7ff80;
  --accent-clr: #DDF1F9;
  --white-clr: #FFFFFF;
  --black-clr: #000000;
  --gray-clr: #555555;

  /* typography */
  --ff: 'Open Sans', sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-x-sm: 0.7rem;
  --fs-sm: calc(var(--fs-x-sm) * 1.09);
  --fs-regular: calc(var(--fs-x-sm) * 1.272);
  --fs-md: calc(var(--fs-x-sm) * 1.616);
  --fs-lg: calc(var(--fs-x-sm) * 2.725);


  /* spacing  */
  --padding-inline: 1em;
  --padding-block: 0.8em;
  --gap: 1rem;

  --border-radius: 0.5rem;
}

input{
  font-family: inherit;
}

button{
  font-family: inherit;
}