header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-clr);
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
}